<div class="container group-dashboard">
  <!-- グループタイトルを中央揃え -->
  <h1 class="group-dashboard__title"><%= @group.name %></h1>

  <!-- 画像・説明・管理者情報 -->
  <%= render 'public/shared/group/dashboard/overview' %>

  <hr>

  <!-- お知らせボード -->
  <%= render 'public/shared/group/dashboard/notices' %>

  <hr>

  <!-- イベントボード -->
  <%= render 'public/shared/group/dashboard/events' %>

  <hr>

  <!-- 投稿一覧 -->
  <%= render 'public/shared/group/dashboard/posts' %>
</div>