<%= form_with url: searches_path, method: :get, local: true, html: { class: "search-form" } do %>
  <div class="search-form__categories">
    <% PostConstants::SEARCH_TYPES.each_with_index do |type, index| %>
      <input type="radio" name="search" value="<%= type %>" id="radio_<%= index %>" 
        <%= 'checked' if index == 0 %> />
      <label for="radio_<%= index %>" class="search-form__category"><%= type %></label>
    <% end %>
  </div>

  <div class="search-form__inputs">
    <%= text_field_tag :q, params[:q], placeholder: "含めたいワード（タイトル・本文）", 
      class: "search-form__field" %>
    <%= text_field_tag :not_q, params[:not_q], placeholder: "除外したいワード", 
      class: "search-form__exclude-field" %>
    <%= submit_tag "検索", class: "btn btn-base search-form__button" %>
  </div>
<% end %>