<div class="container group-events">
  <div class="row group-events__title-wrapper">
    <div class="col-12 col-md-9">
      <h1 class="group-events__page-title">
        <span><%= @group.name %></span>
        <span>イベント一覧</span>
      </h1>
    </div>

    <div class="col-12 col-md-3 mt-2 mt-md-0 group-events__button-container">
      <%= link_to 'イベントを作成', new_group_event_path(@group), 
        class: 'btn btn-primary group-events__button' %>
    </div>
  </div>

  <% if @group_events.any? %>
    <ul class="group-events__list">
      <% @group_events.each do |event| %>
        <li class="group-events__list-item">
          <%= link_to group_event_path(@group, event), 
            class: "group-events__list-link" do %>

            <h2 class="group-events__list-title">イベント名：<%= event.title %></h2>

            <div class="group-events__list-time-wrap mb-0">
              <span class="group-events__list-time-label">開始予定日時:</span>
              <span class="group-events__list-time-value">
                <%= l(event.start_time, format: :long) %>
              </span>
            </div>

            <div class="group-events__list-time-wrap">
              <span class="group-events__list-time-label">終了予定日時:</span>
              <span class="group-events__list-time-value">
                <%= l(event.end_time, format: :long) %>
              </span>
            </div>

            <div class="group-events__list-body-wrap">
              <span class="group-events__list-body-label">イベント内容</span>
              <span class="group-events__list-body-value"><%= event.description %></span>
            </div>

            <div class="group-events__list-meta">
              <span class="group-events__list-member-nickname">
                投稿者: <%= event.member.user.nickname %>
              </span>
              <span class="group-events__list-date">
                投稿日時: <%= l(event.created_at, format: :short) %>
              </span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= paginate @group_events %> 

  <% else %>
    <div class="text-center">
      <p class="empty-message">イベントはまだありません</p>
    </div>
  <% end %>
</div>