<div class="row align-items-center">
  <div class="col-10">
    <h2 class="my-5"><%= @group.name %> のイベント一覧</h2>
  </div>
  <div class="col-2 text-right">
    <%= link_to '＋新しいイベント', new_group_event_path(@group), class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<% if @group_events.any? %>
  <ul class="pl-0" style="list-style-type: none;">
    <% @group_events.each do |event| %>
      <li class="dashboard-group__event-item mb-4">
        <%= link_to group_event_path(@group, event), 
          class: "d-block p-4 border rounded shadow text-dark", style: "text-decoration: none;" do %>
          <h3 class="h5 font-weight-bold mb-3">イベント名：<%= event.title %></h3>
          <p><strong>開始予定日時:</strong> <%= l(event.start_time, format: :long) %></p>
          <p><strong>終了予定日時:</strong> <%= l(event.end_time, format: :long) %></p>
          <p class="mt-2 text-secondary">
            イベント内容<br>
            <p class="event-index__body mb-2"><%= event.description %></p>
          </p>
          <small>
            投稿者: <%= event.member.user.nickname %> / 投稿日時: <%= l(event.created_at, format: :short) %>
          </small>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @group_events %> 
  </div>

<% else %>
  <p class="text-center">イベントはまだ登録されていません。</p>
<% end %>