<h1><%= @group.name %> のダッシュボード</h1>

<p><%= @group.description %></p>
<% if @group.group_image.attached? %>
  <%= image_tag @group.group_image, width: 200 %>
<% end %>

<hr>


<h3>メンバー一覧</h3>
<ul>
  <% @group.members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
</ul>

<hr>


<h2>投稿一覧</h2>

<% if @group_posts.any? %>
  <ul>
    <% @group_posts.each do |post| %>
      <li>
        <%= link_to post.title, group_post_path(@group, post) %>
        <% if post.is_pinned %>
          <span style="color: gold;">📌 ピン留め</span>
        <% end %>
        <br>
        投稿日: <%= l(post.posted_at || post.created_at, format: :short) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだ投稿がありません。</p>
<% end %>

<%= link_to "グループ詳細に戻る", public_group_path(@group), class: "btn btn-secondary" %>