<h2 class="groups__title">
  <span class="groups__title-text">オーナーのグループ</span>
</h2>
<% if @owned_groups.any? %>
  <div class="my-groups-list">
    <% @owned_groups.each do |group| %>
      <%= link_to group_dashboard_path(group), class: "my-groups-card" do %>
        <div class="my-groups-card__center">
          <div class="my-groups-card__image-wrapper">
            <%= image_tag(group.group_image, class: "my-groups-card__image") %>
          </div>
          <div class="my-groups-card__info">
            <h3 class="my-groups-card__name"><%= group.name %></h3>
          </div>
        </div>
        <div class="my-groups-card__description">
          <%= truncate(group.description, length: 100) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @owned_groups, param_name: :owned_page %>
  </div>
  
<% else %>
  <p style="text-align: center;">作成したグループはありません。</p>
<% end %>

<hr>

<h2 class="groups__title">
  <span class="groups__title-text">参加中のグループ</span>
</h2>
<% if @joined_groups.any? %>
  <div class="my-groups-list">
    <% @joined_groups.each do |group| %>
      <%= link_to group_dashboard_path(group), class: "my-groups-card" do %>
        <div class="my-groups-card__center">
          <div class="my-groups-card__image-wrapper">
            <%= image_tag(group.group_image, class: "my-groups-card__image") %>
          </div>
          <div class="my-groups-card__info">
            <h3 class="my-groups-card__name"><%= group.name %></h3>
          </div>
        </div>
        <div class="my-groups-card__description">
          <%= truncate(group.description, length: 100) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @joined_groups, param_name: :joined_page %>
  </div>

<% else %>
  <p style="text-align: center;">他のグループに参加していません。</p>
<% end %>