<div>
  <%= image_tag(@group.group_image, class: "group-show__image img-fluid") %>
</div>

<h3 class="my-3"><%= @group.name %></h3>

<p><%= @group.description %></p>
<p>参加メンバー数: <%= @group.group_memberships.active_members.count %>人</p>

<% if user_signed_in? %>
  <% if group_member? %>
    <%= link_to 'グループマイページへ', dashboard_group_path(@group), class: "btn btn-primary" %>
  <% else %>
    <%= button_to 'グループに参加する', join_group_membership_path(@group), 
      method: :post, class: "btn btn-success" %>
  <% end %>
<% else %>
  <p><%= link_to 'ログインして参加する', new_user_session_path %></p>
<% end %>

<hr>

<% if @public_posts.any? %>
  <h3>公開中の投稿</h3>
  <% @public_posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= truncate(post.body, length: 100) %></p>
        <p class="text-muted">投稿者: <%= post.member.user.nickname %> / 投稿日: <%= l(post.created_at, format: :short) %></p>
        <%= link_to '詳細を見る', group_post_path(@group, post), class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @public_posts %>
  </div>
  
<% else %>
  <p>このグループには現在、公開されている投稿はありません。</p>
<% end %>