<h2 class="groups__title"><%= @group.name %></h2>

<div class="group-show-box">
  <!-- 左側: 画像 -->
  <div class="group-show-box__image-wrapper mr-4">
    <%= image_tag(@group.group_image, class: "group-show__image img-fluid") %>
  </div>

  <!-- 右側: 説明や参加メンバー数 -->
  <div class="group-show-box__info">
    <p class="group-show-box__label">【説明】</p>
    <p class="group-show-box__bio"><%= @group.description %></p>
    <p class="group-show-box__member-count">
      参加メンバー数: <%= @group.active_group_memberships.count %>人
    </p>
  </div>
</div>

<div class="text-center my-4">
  <% if user_signed_in? %>
    <% if @membership&.member_status_pending? %>
      <p>参加申請中です。承認までお待ちください。</p>
      <%= button_to '申請をキャンセルする', cancel_group_membership_path(@group), 
            method: :delete, data: { confirm: '申請をキャンセルしてもよろしいですか？' }, class: "btn btn-danger" %>
    <% else %>
      <%= button_to 'グループに参加申請する', join_group_membership_path(@group), 
            method: :post, class: "btn btn-success" %>
    <% end %>

  <% else %>
    <p><%= link_to 'ログインして参加申請する', new_user_session_path %></p>
  <% end %>
</div>

<hr>

<h3 class="group-posts__page-title"><%= @group.name %>の公開投稿一覧</h3>
<%= render 'public/shared/group/post/index' %>