<%= form_with scope: scope, url: url, local: true, html: { class: "auth-form" } do |f| %>
  <!-- メールアドレス -->
  <div class="form-row align-items-center mb-2 md-mb-3">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.email_field :email, class: "form-control", 
        placeholder: email_placeholder, maxlength: EmailConstraints::MAX_LENGTH %>
    </div>
  </div>

  <!-- パスワード -->
  <div class="form-row align-items-center mb-2 md-mb-3">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <%= f.label :password, "パスワード" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <!-- ログインボタン -->
  <div class="form-submit">
    <%= f.submit "ログイン", class: "btn btn-base login-btn" %>
  </div>
<% end %>