<%= form_with(model: [@group, @group_event], local: true) do |form| %>
  <% if @group_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_event.errors.count, "件のエラー") %>が発生しました:</h2>
      <ul>
        <% @group_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "タイトル" %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "説明" %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_time, "開始日時" %><br>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time, "終了日時" %><br>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :is_public, "公開する" %>
    <%= form.check_box :is_public %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>