<!-- インスタンスを用いてエラーメッセージを表示する場合(renderを使用) -->
<% if defined?(resource) && resource.errors.any? && flash[:error_name].present?%>
  <div id="error_explanation" data-turbo-cache="false">
    <h5>
      <%= I18n.t("errors.messages.not_saved", count: resource.errors.count,
        resource: flash[:error_name].downcase) 
      %>
    </h5>
    <ul>
      <% resource.errors.full_messages.uniq.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<!-- PRGを使うパターンでエラーメッセージを表示する場合 -->
<% elsif flash[:error_messages].present? && flash[:error_name].present? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h5>
      <%= I18n.t("errors.messages.not_saved", count: flash[:error_messages].count,
        resource: flash[:error_name].downcase) 
      %>
    </h5>
    <ul>
      <% flash[:error_messages].uniq.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  
<!-- コントローラー内で設定したメッセージを表示する場合 -->
<% elsif flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>