<h4 id="user-posts-results">ユーザー投稿の検索結果</h4>
<% if user_posts.any?  %>
  <p><%= @search_type %>内でのヒット数<%= number_of_items_displayed(user_posts) %></p>

  <div class="container">
    <div class="row">
      <% user_posts.each do |post| %> 
        <div class="col-6">
          <%= link_to admin_user_post_path(post.id), class: 'user-posts__link' do %>

            <div class="post-list">
              <!-- 左側の画像 -->
              <div class="post-list__image-box">
                <%= image_tag(post.user_post_image, size: "180x180", class: "img-fluid") %>
              </div>

              <!-- 右側の内容(名前、タイトル、内容) -->
              <div class="post-list__content-box">
                <p class="post-list__item-label">【ニックネーム】</p>
                <p class="post-list__user"><%= post.user.nickname %></p>
                <p class="post-list__item-label">【タイトル】</p>
                <p class="post-list__title"><%= post.title %></p>
                <p class="post-list__item-label">【内容】</p>
                <p class="post-list__description"><%= truncate(post.body, length: 100) %></p>
                <p class="post-list__date">投稿日：<%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              </div>
              
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <div class="d-flex justify-content-center mt-4">
      <%= paginate user_posts, param_name: :user_post_page, 
        params: request.query_parameters.merge(scroll_to: 'user-posts-results') %>
    </div>
  </div>

<% else %>
  <p class="text-center">検索結果は見つかりませんでした。</p>
<% end %>
