<h2 class="text-center mt-3 mb-5">グループ投稿コメント一覧 (<%= @group.name %>)</h2>

<%= render "admin/shared/filter_controls", url_helper: method(:admin_group_post_comments_path) %>

<% if @group_post_comments.any? %>
  <table class="table table-hover table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th style="width: 20%;">投稿タイトル</th>
        <th style="width: 25%;">コメント本文</th>
        <th style="width: 20%;">投稿者</th>
        <th style="width: 15%;">投稿日</th>
        <th style="width: 12%;">公開ステータス</th>
        <th style="width: 8%;">詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @group_post_comments.each do |comment| %>
        <tr class="text-center <%= row_class(comment) %>">
          <td>
            <%= link_to truncate(comment.group_post.title, length: 15), 
              admin_group_post_path(@group.id, comment.group_post) %>
          </td>
          <td><%= truncate(comment.body, length: 20) %></td>
          <td><%= link_to comment.member.user.nickname, admin_user_path(comment.member.user) %></td>
          <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%=  status_label(comment) %></td>
          <td>
            <%= link_to "詳細", admin_group_post_comment_path(@group.id, comment), 
              class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @group_post_comments %>
  </div>
<% else %>
  <div class="text-center my-5">
    <p class="h5">まだグループ投稿コメントはありません。</p>
  </div>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to "グループ詳細に戻る", admin_group_path(@group.id), class: "btn btn-secondary" %>
</div>