<div class="posts-container">
  <% @recent_group_posts.each_with_index do |post, index| %>
    <%= link_to group_post_path(post.group, post.id), class: "box-link" do %>
      <!-- 投稿ヘッダー: グループ画像とグループ名 -->
      <div class="post-header">
        <%= image_tag(post.group.group_image, class: "group-image") %>
        <strong class="post-group-name"><%= post.group.name %></strong>
      </div>

      <!-- 投稿内容: 画像とタイトル -->
      <div class="post-body">
        <h5 class="post-title">
          <%= post.title %>
        </h5>
        <%= image_tag(post.group_post_image, class: "post-image") %>
      </div>

      <!-- 投稿日時 -->
      <div class="post-footer">
        <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
      </div>
    <% end %>
  <% end %>

  <!-- ダミー画像表示: 投稿が足りない場合 -->
  <% if @group_post_dummy_images.present? %>
    <% @group_post_dummy_images.each do |dummy_image| %>
      <div class="box-link box-link-dummy-cards">
        <div class="dummy-header">
          <strong>投稿はありません</strong>
         </div>
        <%= image_tag("card/#{dummy_image}.png", class: "dummy-image") %>
      </div>
    <% end %>
  <% end %>
</div>