<%= form_with model: @group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "グループ名" %>
    <%= f.text_field :name, class: "form-control", placeholder: group_name_placeholder, 
      maxlength: Group::NAME_MAX_LENGTH  %>
  </div>

  <div class="form-group">
    <%= f.label :slug, "スラッグURL" %>
    <%= f.text_field :slug, class: "form-control", placeholder: group_slug_placeholder, 
      maxlength: Group::SLUG_MAX_LENGTH %>
    <div class="group-form__note">
      ※ URLに使われます。例: https://yourdomain.com/groups/<strong>example-group</strong>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :group_image, "グループ画像" %>
    <div class="d-flex align-items-center">
      <label class="btn btn-outline-secondary group-form__button mr-2">
        ファイルを選択
        <%= f.file_field :group_image, 
          style: "display: none;", onchange: "document.getElementById('file-name')
            .textContent = this.files[0]?.name || '未選択';" %>
      </label>
      <span id="file-name" class="group-form__status">未選択</span>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :description, "説明" %>
    <%= f.text_area :description, rows: 3, class: "form-control", 
      placeholder: group_description_placeholder, maxlength: Group::DESCRIPTION_MAX_LENGTH  %>
  </div>

  <div class="text-center mt-3">
    <%= f.submit "グループを作成", class: "btn btn-primary group-form__button" %>
  </div>
<% end %>