<% if groups.any? %>
  <div class="groups">
    <% groups.each do |group| %>
      <%= link_to group_path(group), class: "group-card" do %>
        <div class="group-card__image">
          <%= image_tag(group.group_image, class: "group-card__image-img img-fluid") %>
        </div>
        <div class="group-card__content">
          <p class="group-card__labe">【グループ名】</p>
          <p class="group-card__name"><%= group.name %></p>
          <p class="group-card__labe">【説明】</p>
          <p class="group-card__description"><%= group.description %></p>

          <div class="group-card__meta">
            <p class="group-card__date">メンバー数: <%= group.active_group_memberships.count %>人</p>
            <p class="group-card__date">最終投稿: <%= group.last_posted_at ? 
              l(group.last_posted_at, format: :short) : "なし" %></p>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate groups, param_name: pagination_param %>

<% else %>
  <div class="text-center">
    <p class="groups__empty-message"><%= empty_message %></p>
  </div>
<% end %>