<div class="row align-items-center">
  <div class="col-10">
    <h2 class="my-5"><%= @group.name %> のお知らせ一覧</h2>
  </div>
  <div class="col-2 text-right">
    <% if current_user.id == @group.owner_id %>
      <%= link_to '＋新しいお知らせ', new_group_notice_path(@group), class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
</div>

<% if @notices.any? %>
  <ul class="space-y-4" style="list-style-type: none;">
    <% @notices.each do |notice| %>
      <li class="border p-4 rounded shadow">
        <h3 class="text-lg font-semibold mb-3"><%= notice.title %></h3>
        <p><%= notice.body %></p>
        <br>
        <small>投稿者: <%= notice.user.nickname %> / 投稿日時: <%= l(notice.created_at, format: :short) %></small>

        <% if current_user.id == @group.owner_id %>
          <div class="mt-3">
            <%= link_to '編集', edit_group_notice_path(@group, notice) %> | <%= link_to '削除', 
              group_notice_path(@group, notice), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </div>
        <% end %>

        </li>
    <% end %>
  </ul>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @notices %> 
  </div>

<% else %>
  <p>まだお知らせがありません。</p>
<% end %>