<div class="row align-items-center">
  <div class="col-10">
    <h2 class="group-notices__page-title"><%= @group.name %> のお知らせ一覧</h2>
  </div>
  <div class="col-2 text-right">
    <% if group_moderator? %>
      <%= link_to '＋新しいお知らせ', new_group_notice_path(@group), class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
</div>

<% if @group_notices.any? %>
  <ul class="pl-0" style="list-style-type: none;">
    <% @group_notices.each do |notice| %>
      <li class="dashboard-group__notice-item mb-4">
        <%= link_to group_notice_path(@group, notice), 
          class: "d-block p-4 border rounded shadow text-dark", style: "text-decoration: none;" do %>
          <h3 class="text-lg font-semibold mb-3"><%= notice.title %></h3>
          <p class="notice-index__body mb-2"><%= notice.body %></p>
          <small>
            投稿者: <%= notice.member.user.nickname %> / 投稿日時: <%= l(notice.created_at, format: :short) %>
          </small>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= paginate @group_notices %> 

<% else %>
  <div class="text-center">
    <p class="dashboard-notice__empty-message">まだお知らせはありません</p>
  </div>
<% end %>