<div class="container group-notices">
  <div class="row group-notices__title-wrapper">
    <div class="col-9">
      <h1 class="group-notices__page-title"><%= @group.name %> のお知らせ一覧</h1>
    </div>
    <div class="col-3 text-right">
      <% if group_moderator? %>
        <%= link_to 'お知らせを追加', new_group_notice_path(@group), 
          class: 'btn btn-primary group-notices__button' %>
      <% end %>
    </div>
  </div>

  <% if @group_notices.any? %>
    <ul class="group-notices__list">
      <% @group_notices.each do |notice| %>
        <li class="group-notices__list-item">
          <%= link_to group_notice_path(@group, notice), 
            class: "group-notices__list-link" do %>
            <h2 class="group-notices__list-title"><%= notice.title %></h2>
            <p class="group-notices__list-body"><%= notice.body %></p>
            <div class="group-notices__meta">
              <span class="group-notices__list-member-nickname">
                投稿者: <%= notice.member.user.nickname %>
              </span>
              <span class="group-notices__list-date">
                投稿日時: <%= l(notice.created_at, format: :short) %>
              </span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= paginate @group_notices %> 

  <% else %>
    <div class="text-center">
      <p class="empty-message">まだお知らせはありません</p>
    </div>
  <% end %>
</div>