<h2 class="text-center my-4">管理ダッシュボード</h2>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-8 border p-4 rounded">
      <h3 class="text-center border-bottom pb-4 mb-4">📌 申し送り</h3>
      <% @admin_notes.each do |note| %>
        <div class="mb-4 border-bottom pb-2">
          <div class="d-flex justify-content-between">
            <strong><%= note.title %></strong>
            <small class="text-muted">投稿日：<%= l(note.created_at, format: :short) %></small>
          </div>
          <div class="mt-2">
            <% if note.is_pinned %>
              <span class="badge bg-danger me-1">ピン留め</span>
            <% end %>
            <div class="mt-2">
              <%= simple_format(note.body) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 border p-4 rounded">
      <h3 class="text-center border-bottom pb-4 mb-4">📢 お知らせ</h3>
      <% @informations.each do |info| %>
        <div class="mb-4 border-bottom pb-2">
          <div class="d-flex justify-content-between">
            <strong><%= info.title %></strong>
            <small class="text-muted">公開日：<%= l(info.published_at, format: :short) %></small>
          </div>
          <div class="mt-2">
            <% if info.is_pinned %>
              <span class="badge bg-danger me-1">ピン留め</span>
            <% end %>
            <% unless info.is_public %>
              <span class="badge bg-warning text-dark fs-6 fw-bold">非公開</span>
            <% end %>
            <div class="mt-1">
              <%= simple_format(info.body) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>