<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="search-result__page-title">検索結果</h1>

      <% if @results.all? { |r| r[:records].blank? } %>
      <div class="text-center">
        <p class="empty-message">検索結果は見つかりませんでした</p>
      </div>
    
      <% elsif @search_type == "すべて" %>
        <% @results.each do |result| %>
          <% case result[:category] %>
          <% when @decide_types[0] %>
            <%= render 'public/shared/search/result/users', users: result[:records] %>
          <% when @decide_types[1] %>
            <%= render 'public/shared/search/result/user_posts', user_posts: result[:records] %>
          <% when @decide_types[2] %>
            <%= render 'public/shared/search/result/groups', groups: result[:records] %>
          <% when @decide_types[3] %>
            <%= render 'public/shared/search/result/group_posts', group_posts: result[:records] %>
          <% end %>
        <% end %>
      
      <% else %>
        <% matched_result = @results.first %>
        <% case @search_type %>
        <% when @decide_types[0] %>
          <%= render 'public/shared/search/result/users', users: matched_result[:records] %>
        <% when @decide_types[1] %>
          <%= render 'public/shared/search/result/user_posts', user_posts: matched_result[:records] %>
        <% when @decide_types[2] %>
          <%= render 'public/shared/search/result/groups', groups: matched_result[:records] %>
        <% when @decide_types[3] %>
          <%= render 'public/shared/search/result/group_posts', group_posts: matched_result[:records] %>
        <% else %>
          <p class="text-center">無効な検索タイプです。</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>