<h1 class="sr-only">アバウトページ</h1>

<section class="about-page-header">
  <%= render 'public/shared/home/about/header' %>
</section>

<section class="site-purpose">
  <%= render 'public/shared/home/about/site_purpose' %>
</section>

<section class="about-creator">
  <%= render 'public/shared/home/about/about_creator' %>
</section>

<section class="site-content">
  <%= render 'public/shared/home/about/site_content' %>
</section>

<section class="target-audience">
  <%= render 'public/shared/home/about/target_audience' %>
</section>

<section class="future-goals">
  <%= render 'public/shared/home/about/future_goals' %>
</section>

<section class="contact-info">
  <%= render 'public/shared/home/about/contact_info' %>
</section>