<header class="about-page-header">
  <%= render 'shared/about/header' %>
</header>

<section class="site-purpose">
  <%= render 'shared/about/site_purpose' %>
</section>

<section class="about-creator">
  <%= render 'shared/about/about_creator' %>
</section>

<section class="site-content">
  <%= render 'shared/about/site_content' %>
</section>

<section class="target-audience">
  <%= render 'shared/about/target_audience' %>
</section>

<section class="future-goals">
  <%= render 'shared/about/future_goals' %>
</section>

<section class="contact-info">
  <%= render 'shared/about/contact_info' %>
</section>