<h1 class="sr-only">トップページ</h1>

<div class="container homes-top-page-font">
  <div class="row justify-content-center text-center">
    <!-- お知らせ -->
    <div class="col-12 space-between-bottom">
      <%= render 'public/shared/home/top/notice' %>
    </div>

    <!-- 最新の投稿 -->
    <div class="col-12">
      <%= render 'public/shared/home/top/title', title: PostConstants::LATEST_POST_TITLE %>
    </div>
    <div class="col-12 space-between-bottom">
      <%= render 'public/shared/home/top/user_posts' %>
    </div>
    
    <!-- 最新のグループ投稿 -->
    <div class="col-12">
      <%= render 'public/shared/home/top/title', title: PostConstants::LATEST_GROUP_POST_TITLE %>
    </div>
    <div class="col-12 space-between-bottom">
      <%= render 'public/shared/home/top/group_posts' %>
    </div>
    
    <!-- 本日のいいね -->
    <div class="col-12">
      <%= render 'public/shared/home/top/title', title: PostConstants::TODAY_TOP_LIKES_TITLE %>
    </div>
    
    <div class="col-12">
      <%= render 'public/shared/home/top/likes_top' %>
    </div>
  </div>
</div>