<h2><%= @user.nickname %>さんのマイページ</h2>
<h2>ユーザー詳細</h2>

<!-- 自分のマイページを表示する部分 -->
<h2>マイページ</h2>
<%= render "public/shared/user/private_profile", user: @user %>

リンクテスト
<%= render "public/shared/user/user_links", show_edit: true %>
<%= render "public/shared/user/user_links", settings: true %>
<%= render "public/shared/user/user_links", withdraw: true %>
<%= render "public/shared/user/user_links", mypage_back: true %>
<%= render "public/shared/user/user_links", back: true %>
<%= render "public/shared/user/user_links", profile: true %>
<%= render "public/shared/user/user_links", my_posts_index: true %>
<%= render "public/shared/user/user_links", mypage_back: true %>
<%= render "public/shared/user/user_links", all_posts_index: true %>
<%= render "public/shared/user/user_links", new_post: true %>



<% if defined?(my_posts_index) && my_posts_index && defined?(@user) %>
  <%= link_to '自分の投稿一覧を見る', user_posts_path(@user), class: 'btn btn-outline-primary' %>
<% end %>
<% if defined?(new_post) && new_post && defined?(@user) %>
  <%= link_to '新規投稿', new_user_post_path(@user), class: 'btn btn-primary' %>
<% end %>
