<!-- 自分のプロフィールを表示する部分 -->
<div>
  <h2>マイページ</h2>
</div>

<div>
  <%= render "public/shared/user/private_profile" %>
</div>

<div>
  <%= render "public/shared/user/user_links", settings: true %>
  <%= render "public/shared/user/user_links", back: true %>
</div>



<% if defined?(my_posts_index) && my_posts_index && defined?(@user) %>
  <%= link_to '自分の投稿一覧を見る', user_posts_path(@user), class: 'btn btn-outline-primary' %>
<% end %>
<% if defined?(new_post) && new_post && defined?(@user) %>
  <%= link_to '新規投稿', new_user_post_path(@user), class: 'btn btn-primary' %>
<% end %>
