<!-- 自分のプロフィールや個人情報を表示する部分 -->
<h1 class="user-page-title text-center">マイページ</h1>

<div class="mypage__container">
  <div class="mypage__container-left-column">
    <!-- 公開プロフィール -->
    <h2 class="mypage__container-left-column-title">公開プロフィール</h2>
    <div class="user-profile-page">
      <%= render "public/shared/user/public_profile" %>
    </div>
  </div>

  <div class="mypage__container-right-column">
    <!-- 個人情報 -->
    <h2 class="mypage__container-right-column-title">個人情報</h2>
    <div class="user-profile-page">
      <%= render "public/shared/user/private_profile" %>
    </div>
  </div>
</div>

<%# ボタンの位置を左右対称にするためにmypage__containerを分ける #%>
<div class="mypage__container">
  <div class="mypage__container-left-column">
    <!-- プロフィールページとプロフィール編集ボタンを中央揃え -->
    <div class="mypage__left-button-wrapper">
      <%= render "public/shared/link/links", profile_page: true, as: :button %>
      <%= render "public/shared/link/links", profile_edit: true, as: :button %>
    </div>
  </div>

  <div class="mypage__container-right-column">
    <!-- 設定ボタンを中央揃え -->
    <div class="mypage__right-button-wrapper">
      <%= render "public/shared/link/links", settings: true, as: :button %>
    </div>
  </div>
</div>
