   <%= form_with model: @user, method: :patch, local: true do |f| %>
    <div class="form-label-and-input">
      <%= f.label :nickname, "ニックネーム", class: "form-label-and-input label" %>
      <%= f.text_field :nickname, class: "form-label-and-input input", placeholder: "ニックネームを入力" %>
    </div>

    <div class="profile-image-upload">
      <%= f.label :profile_image, "プロフィール画像" %>
      <%= f.file_field :profile_image, class: "profile-image-upload input" %>
    </div>

    <div class="bio-form">
      <%= f.label :bio, "自己紹介", class: "form-label-and-input label" %>
      <%= f.text_area :bio, class: "bio-input", placeholder: "自己紹介を入力してください" %>
    </div>

    <div class="text-center">
      <%= f.submit "更新する", class: "btn btn-base update-btn" %>
    </div>
  <% end %>
