<h4>個人情報</h4>

<div>
  <%= content_tag :label, "名前(姓)" %>
  <p><%= @user.last_name %></p>
</div>

<div>
  <%= content_tag :label, "名前(名)" %>
  <p><%= @user.first_name %></p>
</div>

<div>
  <%= content_tag :label, "メールアドレス" %>
  <p><%= @user.email %></p>
</div>