<div class="group-memberships">
  <h1 class="group-memberships__page-title"><%= @group.name %><br>参加申請一覧（承認待ち）</h1>

  <% if @group.group_memberships.pending_members.any? %>
    <%#--- PC用テーブル ---#%>
    <table class="table table-bordered d-none d-md-table">
      <thead>
        <tr>
          <th class="group-memberships__user-nickname">ユーザー名</th>
          <th class="group-memberships__joined-at">申請日時</th>
          <th class="group-memberships__actions">操作</th>
        </tr>
      </thead>

      <tbody>
        <% @group.group_memberships.pending_members.each do |membership| %>
          <tr>
            <td class="group-memberships__user-nickname">
              <a href="<%= show_user_path(membership.user) %>">
                <%= membership.user.nickname %>
              </a>
            </td>
            <td class="group-memberships__joined-at"><%= l(membership.created_at, format: :short) %></td>
            <td class="group-memberships__actions">
              <div class="group-memberships__actions-wrapper">
                <%= button_to approve_group_membership_path(@group, membership), method: :post,
                  class: "btn btn-success btn-sm group-memberships__button", 
                    data: { confirm: "申請を承認しますか？" } do %>
                  承認
                <% end %>
                <%= button_to reject_group_membership_path(@group, membership), method: :post,
                  class: "btn btn-danger btn-sm group-memberships__button", 
                    data: { confirm: "申請を却下しますか？" } do %>
                  却下
                <% end %>
              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>

    <%#--- モバイル用テーブル ---#%>
    <table class="table d-table d-md-none">
      <% @group.group_memberships.pending_members.each do |membership| %>
        <tr class="group-memberships__user-nickname-table">
          <td class="group-memberships__user-nickname" colspan="2">
            <a href="<%= show_user_path(membership.user) %>">
              <%= membership.user.nickname %>
            </a>
          </td>
        </tr>

        <tr class="group-memberships__pending-action">
          <td class="group-memberships__joined-at">
            申請日：<%= l(membership.created_at, format: :short) %>
          </td>
          <td class="group-memberships__actions">
            <div class="group-memberships__actions-wrapper">
              <%= button_to approve_group_membership_path(@group, membership), method: :post,
                class: "btn btn-success btn-sm group-memberships__button", 
                data: { confirm: "申請を承認しますか？" } do %>
                承認
              <% end %>
              <%= button_to reject_group_membership_path(@group, membership), method: :post,
                class: "btn btn-danger btn-sm group-memberships__button", 
                data: { confirm: "申請を却下しますか？" } do %>
                却下
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <div class="d-flex justify-content-center">
      <p class="empty-message text-center">現在承認待ちの申請はありません。</p>
    </div>
  <% end %>
</div>
