<h2><%= @group_post.title %></h2>

<p>
  <strong>投稿者:</strong> <%= @group_post.user.nickname %><br>
  <strong>投稿日:</strong> <%= l(@group_post.created_at, format: :long) %>
</p>

<% if @group_post.group_post_image.attached? %>
  <div class="post-image">
    <%= image_tag @group_post.group_post_image.variant(resize_to_limit: [600, 400]) %>
  </div>
<% end %>

<div class="post-body">
  <%= simple_format(@group_post.body) %>
</div>

<% if @group_post.tag_list.present? %>
  <p>
    <strong>タグ:</strong>
    <%= @group_post.tag_list.map { |tag| "##{tag}" }.join(' ') %>
  </p>
<% end %>

<% if current_user == @group_post.user || current_user == @group.owner %>
  <%= link_to "編集", edit_group_post_path(@group, @group_post), class: "btn btn-outline-primary" %>
  <%= link_to "削除", group_post_path(@group, @group_post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger" %>
<% end %>

<hr>

<h3>コメント</h3>
<%= render partial: 'public/shared/group_post_comments/comment_form', locals: { group_post: @group_post } %>

<% @group_post.group_post_comments.order(created_at: :asc).each do |comment| %>
  <%= render partial: 'public/shared/group_post_comments/comment', locals: { comment: comment } %>
<% end %>
