<div class="auth-page-sub-title-box">
  <h2>パスワードの変更</h2>
</div>

<%= form_with model: resource, url: registration_path(user), method: :put, local: true, 
  html: { class: "auth-form" } do |f| %>
    
  <div class="form-group">
    <%= f.label :new_password, "新しいパスワード" %>
    <%= f.password_field :new_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "パスワード（確認用）" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "現在のパスワード" %>
    <%= f.password_field :current_password, class: "form-control" %>
  </div>

  <!-- 隠しフィールドでフォームタイプを送信 -->
  <%= f.hidden_field :form_type, value: "password" %>

  <div class="form-submit">
    <%= f.submit "パスワードを更新", class: "btn-base update-btn" %>
  </div>
<% end %>