<div class="auth-page-title">メールアドレスと名前の変更</div>

<%= form_with model: resource, url: registration_path(user), method: :put, local: true, 
  html: { class: "auth-form" } do |f| %>
    
  <div class="form-group">
    <!-- 名前ラベル -->
    <div class="form-row align-items-center mb-1">
      <div class="col-4 text-left">
        <label>名前</label>
      </div>
      <div class="col-1 text-right">
        <%= f.label :last_name, '(姓)', class: "mb-0" %>
      </div>
      <div class="col-7">
        <%= f.text_field :last_name, class: "form-control", 
          placeholder: user_last_name_placeholder, maxlength: User::REAL_NAME_MAX_LENGTH %>
      </div>
    </div>
    
    <!-- 名 -->
    <div class="form-row align-items-center mb-3">
      <div class="offset-4 col-1 text-right">
        <%= f.label :first_name, '(名)', class: "mb-0" %>
      </div>
      <div class="col-7">
        <%= f.text_field :first_name, class: "form-control", 
          placeholder: user_first_name_placeholder, maxlength: User::REAL_NAME_MAX_LENGTH %>
      </div>
    </div>
  </div>

  <!-- メールアドレス -->
  <div class="form-row align-items-center mb-3">
    <div class="col-4 text-left">
      <%= f.label :email, "メールアドレス", class: "mb-0" %>
    </div>
    <div class="offset-1 col-7">
      <%= f.email_field :email, autofocus: true, class: "form-control", 
        placeholder: email_placeholder, maxlength: EmailConstraints::MAX_LENGTH %>
    </div>
  </div>


  <!-- 隠しフィールド -->
  <%= f.hidden_field :form_type, value: "profile" %>

  <!-- 更新ボタン -->
  <div class="form-submit">
    <%= f.submit "更新する", class: "btn btn-base update-btn" %>
  </div>
<% end %>