<%= form_with url: user_registration_path, scope: :user, local: true, 
  html: { class: "auth-form" } do |f| %>
  <!-- 名前 -->
  <div class="form-group">
    <!-- 名前ラベル -->
    <div class="form-row align-items-center mb-1 md-mb-2">
      <div class="col-3 col-md-4 d-flex align-items-center">
        <%= f.label :last_name, "名前" %>
      </div>
      <div class="col-1 d-flex justify-content-end align-items-center">
        <%= f.label :last_name, "(姓)" %>
      </div>
      <div class="col-8 col-md-7">
        <%= f.text_field :last_name, class: "form-control", 
          placeholder: user_last_name_placeholder, maxlength: User::REAL_NAME_MAX_LENGTH %>
      </div>
    </div>

    <!-- 右：名 -->
    <div class="form-row align-items-center mb-2 md-mb-3">
      <div class="offset-3 offset-md-4 col-1 d-flex justify-content-end align-items-center">
        <%= f.label :first_name, "(名)" %>
      </div>
      <div class="col-8 col-md-7">
        <%= f.text_field :first_name, class: "form-control", 
          placeholder: user_first_name_placeholder, maxlength: User::REAL_NAME_MAX_LENGTH %>
      </div>
    </div>
  </div>

  <!-- ニックネーム -->
  <div class="form-row align-items-center mb-2 md-mb-3">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <%= f.label :nickname, "ニックネーム" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.text_field :nickname, autofocus: true, class: "form-control", 
        placeholder: user_nickname_placeholder, maxlength: User::NICKNAME_MAX_LENGTH %>
    </div>
  </div>

  <!-- 自己紹介 -->
  <div class="form-row align-items-center mb-2 md-mb-3">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <%= f.label :bio, "自己紹介" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.text_field :bio, autofocus: true, class: "form-control", 
        placeholder: user_bio_placeholder, maxlength: User::BIO_MAX_LENGTH %>
    </div>
  </div>

  <!-- メールアドレス -->
  <div class="form-row align-items-center mb-2 md-mb-3">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.email_field :email, autofocus: true, class: "form-control", 
        placeholder: email_placeholder, maxlength: EmailConstraints::MAX_LENGTH %>
    </div>
  </div>

  <!-- パスワード -->
  <div class="form-row align-items-center mb-2 md-mb-3">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <!-- 必要なパスワードの文字数を動的に表示、表示できない場合は致命的な問題なので管理者に通知される -->
      <%= f.label :password, "パスワード(#{minimum_password_length_message(@minimum_password_length)})" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>

  <!-- パスワード確認 -->
  <div class="form-row align-items-center">
    <div class="col-4 col-md-5 d-flex align-items-center">
      <%= f.label :password_confirmation, "パスワード(確認用)" %>
    </div>
    <div class="col-8 col-md-7">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>

  <!-- 登録ボタン -->
  <div class="form-submit">
    <%= f.submit "新規会員登録", class: 'btn btn-base new-user-btn' %>
  </div>
<% end %>