<%= form_with model: model, url: url, local: true do |f| %>
  <div class="row justify-content-center">
    <div class="col-11">

      <!-- タイトルと公開日のラベル -->
      <div class="row mb-2">
        <div class="col-6 offset-1">
          <%= f.label :title, 'タイトル' %>
        </div>
        <div class="col-4">
          <%= f.label :published_at, '公開日' %>
        </div>
      </div>

      <!-- タイトル入力と公開日 -->
      <div class="row mb-2">
        <div class="col-6 offset-1">
          <%= f.text_field :title, class: 'form-control', placeholder: information_title_placeholder %>
        </div>
        <div class="col-4 mt-1">
          <%= f.datetime_select :published_at, class: 'form-control' %>
        </div>
      </div>

      <!-- 内容と 公開・固定 -->
      <div class="row mb-2">
        <div class="col-6 offset-1">
          <%= f.label :body, '内容' %>
          <%= f.text_area :body, class: 'form-control', placeholder: information_body_placeholder %>
        </div>

        <div class="col-2 mt-1">
          <div class="form-check">
            <%= f.check_box :is_public, class: 'form-check-input', id: 'is_public' %>
            <%= f.label :is_public, '公開する', class: 'form-check-label', for: 'is_public' %>
          </div>
          <div class="form-check mt-2">
            <%= f.check_box :is_pinned, class: 'form-check-input', id: 'is_pinned' %>
            <%= f.label :is_pinned, '固定表示', class: 'form-check-label', for: 'is_pinned' %>
          </div>
          <div class="form-check mt-2">
            <%= f.check_box :enable_sort_order, 
              { class: 'form-check-input', id: 'enable_sort_order' }, true, false %>
            <%= f.label :enable_sort_order, '表示順を制御', class: 'form-check-label ms-2' %>
          </div>
        </div>

        <!-- 表示順を制御 チェックボックス -->
        <div class="col-2 mt-1">

        <%# sort_order入力欄（初期状態は非表示） #%>
          <div id="sort_order_field" style="display: none; text-align: center;">
            <%= f.label :sort_order, '固定表示時のみ有効<br>小さいほど上に表示'.html_safe,
              class: 'd-block', style: 'margin-left: 0.5rem;' %>
            <%= f.number_field :sort_order, class: 'form-control',
              style: 'width: 50%; height: 30px; margin: 0 auto; text-align: center;', min: 0, max: 999 %>
          </div>
        </div>

      </div>

      <!-- 送信ボタン -->
      <div class="row mb-4">
        <div class="col-12 mt-4 text-center">
          <%= f.submit submit_label || "保存", class: 'btn btn-primary col-2' %>
        </div>
      </div>

    </div>
  </div>
<% end %>