<div class="container group-notices-editor__form">
  <%= form_with model: @group_notice, url: @form_url, local: true do |f| %>

    <!-- タイトル・内容 -->
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="form-group">
          <%= f.label :title, "タイトル", class: "control-label" %>
          <%= f.text_field :title, class: "form-control", 
            placeholder: group_notice_title_placeholder, maxlength: GroupNotice::TITLE_MAX_LENGTH %>
        </div>

        <div class="form-group">
          <%= f.label :body, "内容", class: "control-label" %>
          <%= f.text_area :body, class: "form-control", rows: 5, 
            placeholder: group_notice_body_placeholder, maxlength: GroupNotice::BODY_MAX_LENGTH %>
        </div>
      </div>
    </div>

    <!-- 固定表示・送信ボタン -->
    <div class="row">
      <div class="col-12 group-notices-editor__form-actions">
        <div class="form-check">
          <%= f.check_box :is_pinned, class: "form-check-input" %>
          <%= f.label :is_pinned, "固定表示", class: "form-check-label" %>
        </div>
        <%= f.submit submit_label ||= "更新する", 
          class: "btn btn-primary group-notices-editor__form-button" %>
      </div>
    </div>
  <% end %>
</div>