<h1>イベント詳細</h1>

<p><strong>タイトル:</strong> <%= @group_event.title %></p>
<p><strong>開始日時:</strong> <%= @group_event.start_time.strftime("%Y-%m-%d %H:%M") %></p>
<p><strong>終了日時:</strong> <%= @group_event.end_time&.strftime("%Y-%m-%d %H:%M") || "-" %></p>
<p><strong>投稿者:</strong> <%= link_to @group_event.member.user.nickname, admin_user_path(@group_event.member.user) %></p>
<p><strong>説明:</strong></p>
<p><%= simple_format(@group_event.description) %></p>
<p><strong>公開状態:</strong> <%= @group_event.is_public ? "公開" : "非公開" %></p>
<p><strong>固定表示:</strong> <%= @group_event.is_pinned ? "はい" : "いいえ" %></p>

<%= link_to "一覧に戻る", admin_group_events_path(@group.id), class: "btn btn-secondary" %>