<h5>ナビゲーション</h5>
<ul class="nav flex-column">
  <li><%= render 'admin/shared/link/links', dashboard: true %></li>
  
  <li><%= render 'admin/shared/link/links', users: true %></li>

  <li><%= render 'admin/shared/link/links', user_posts: true %></li>

  <li><%= render 'admin/shared/link/links', notes: true %></li>

  <li><%= render 'admin/shared/link/links', informations: true %></li>
</ul>