<div class="sidebar-links">
  <h5>ナビゲーション</h5>
  <ul class="list-unstyled">
    <li><%= render "public/shared/link/links", home: true %></li>
    
    <li><%= render "public/shared/link/links", back: true %></li>
  </ul>

  <% if user_signed_in? %>
    <h5 class="mt-5">マイメニュー</h5>
    <ul class="list-unstyled">
      <li><%= render "public/shared/link/links", profile_page: true %></li>

      <li><%= render "public/shared/link/links", profile_edit: true %></li>

      <li><%= render "public/shared/link/links", mypage: true %></li>
      
      <li><%= render "public/shared/link/links", settings: true %></li> 
    </ul>
  <% end %>

  <h5 class="mt-5">コミュニティ</h5>
  <ul class="list-unstyled">
    <li><%= render "public/shared/link/links", groups_index: true %></li>

    <li><%= render "public/shared/link/links", my_groups: true %></li>

    <li><%= render "public/shared/link/links", group_hosting_post: true %></li>

    <li><%= render "public/shared/link/links", new_group: true %></li>
  </ul>
</div>