<h5>ナビゲーション</h5>
<ul class="nav flex-column">
  <li><%= render "shared/link/public/links", home: true %></li>
  
  <li><%= render "shared/link/public/links", profile_page: true %></li>

  <li><%= render "shared/link/public/links", mypage: true %></li>

  <li><%= render "shared/link/public/links", new_post: true %></li>

  <li><%= render "shared/link/public/links", back: true %></li>
</ul>