<div class="sidebar__section">
  <details open class="sidebar__group">
    <summary class="sidebar__title">ナビゲーション</summary>
    <ul class="sidebar__links">
      <li><%= render "public/shared/link/links", home: true %></li>
      
      <li><%= render "public/shared/link/links", back: true %></li>
    </ul>
  </details>

  <% if user_signed_in? %>
    <details open class="sidebar__group">
      <summary class="sidebar__title">マイメニュー</summary>
      <ul class="sidebar__links">
        <li><%= render "public/shared/link/links", profile_page: true %></li>

        <li><%= render "public/shared/link/links", profile_edit: true %></li>

        <li><%= render "public/shared/link/links", mypage: true %></li>
        
        <li><%= render "public/shared/link/links", settings: true %></li> 

        <li><%= render "public/shared/link/links", my_groups: true %></li>
      </ul>
    </details>
  <% end %>
</div>