<h5>ナビゲーション</h5>
<ul class="nav flex-column">
  <li><%= render "public/shared/link/links", home: true %></li>
  
  <li><%= render "public/shared/link/links", profile_page: true %></li>

  <li><%= render "public/shared/link/links", mypage: true %></li>

  <li><%= render "public/shared/link/links", new_post: true %></li>

  <li><%= render "public/shared/link/links", back: true %></li>
</ul>