<div class="sidebar__section">
  <details open class="sidebar__group">
    <summary class="sidebar__title">投稿</summary>
    <ul class="sidebar__links">
      <li><%= render "public/shared/link/links", all_posts_index: true %></li>

      <li><%= render "public/shared/link/links", posts_index: true %></li>

      <li><%= render "public/shared/link/links", check_poster_profile: true %></li>

      <li><%= render "public/shared/link/links", new_post: true %></li>
    </ul>
  </details>

  <details open class="sidebar__group">
    <summary class="sidebar__title">グループ</summary>
    <ul class="sidebar__links">
      <li><%= render "public/shared/link/links", groups_index: true %></li>

      <li><%= render "public/shared/link/links", group_hosting_post: true %></li>

      <li><%= render "public/shared/link/links", new_group: true %></li>
    </ul>
  </details>

  <% if user_signed_in? && @group&.id && 
    @group.active_group_memberships.exists?(user_id: current_user.id) %>
    <details open class="sidebar__group">
      <summary class="sidebar__title">グループ内操作</summary>
      <ul class="sidebar__links">
        <li><%= render "public/shared/link/links", dashboard_group: true %></li>

        <li><%= render "public/shared/link/links", group_member: true %></li>

        <li><%= render "public/shared/link/links", group_notices: true %></li>

        <li><%= render "public/shared/link/links", group_events: true %></li>

        <li><%= render "public/shared/link/links", group_posts: true %></li>

        <li><%= render "public/shared/link/links", new_group_post: true %></li>
      </ul>
    </details>
  <% end %>
</div>