<% if @group.present? && @group_post.present? %>
  <%= form_with model: @group_post, url: form_action_url, method: form_method, local: true do |f| %>

    <div class="post-form__title-box">
      <%= f.label :title, "投稿のタイトル" %>
      <%= f.text_field :title, class: "post-form__title-input", 
        placeholder: group_post_title_placeholder, maxlength: GroupPost::TITLE_MAX_LENGTH %>
    </div>
  
    <div class="post-form__image-box">
      <%= f.label :group_post_image, "投稿画像" %>
      <%= f.file_field :group_post_image, class: "post-form__image-input" %>
    </div>
  
    <div class="post-form__body-box">
      <%= f.label :body, "投稿の内容" %>
      <%= f.text_area :body, class: "post-form__body-input", 
        placeholder: group_post_body_placeholder, maxlength: GroupPost::BODY_MAX_LENGTH %>
    </div>

    <div class="post-form__visible-box">
      <%= f.check_box :visible_to_non_members, id: "visible_to_non_members" %>
      <%= f.label :visible_to_non_members, "グループに参加していないユーザーも閲覧できます" %>
      <p class="note">※チェックを入れるとグループに参加していないユーザーもこの投稿を閲覧可能になります。</p>
    </div>

    <div class="text-center">
      <%= f.submit submit_label ||= "更新する", class: "btn btn-base update-btn" %>
    </div>
  <% end %>
<% else %>
  <p>投稿が見つかりませんでした。</p>
<% end %>
