<div class=" group-members">
  <div class="group-members__title-wrapper">
    <h1 class="group-members__page-title">メンバー一覧</h1>
    <span class="badge badge-secondary group-members__count-badge">
      <%= @group.active_members.size %>人
    </span>
  </div>

  <% if group_moderator? %>
    <%= link_to '参加申請一覧', group_memberships_path(@group), 
      class: 'btn btn-primary btn-sm group-members__button' %>
  <% end %>
</div>

<div class="group-members__section">
  <h2 class="group-members__section-subtitle">オーナー</h2>
  <%= render partial: 'public/shared/group/member/membership_table', 
    locals: { title: 'オーナー', memberships: @owner_memberships } %>
</div>

<div class="group-members__section">
  <h2 class="group-members__section-subtitle">
    管理者一覧<span class="badge badge-secondary group-members__count-badge"><%= @moderator_memberships.size %>人</span>
  </h2>

  <%= render partial: 'public/shared/group/member/membership_table', 
    locals: { title: '管理者', memberships: @moderator_memberships } %>
</div>

<div class="group-members__section">
  <h2 class="group-members__section-subtitle">
    メンバー一覧<span class="badge badge-secondary group-members__count-badge"><%= @member_memberships.size %>人</span>
  </h2>

  <%= render partial: 'public/shared/group/member/membership_table', 
    locals: { title: 'メンバー', memberships: @member_memberships } %>
</div>