<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

      <h3 class="my-4 text-center">メンバー詳細</h3>

      <div class="row">
      <%#-- 左カラム: プロフィール画像 --#%>
      <div class="col-md-4 text-center">
        <div class="profile-image mb-3">
          <%= image_tag(@membership.user.profile_image, size: "200x200", class: "profile-box__image") %>
        </div>
      </div>
    
      <%#-- 右カラム: 情報と管理者メモ --#%>
      <div class="col-md-8">
        <%#-- 情報: タイトル左・内容右 --%>
        <div class="row">
          <div class="col-md-4"><strong>ニックネーム:</strong></div>
          <div class="col-md-8"><%= @membership.user.nickname %></div>
        </div>
        <div class="row space-between-mini-top">
          <div class="col-md-4"><strong>参加日時:</strong></div>
          <div class="col-md-8"><%= @membership.joined_at&.strftime("%Y年%m月%d日 %H:%M") %></div>
        </div>
        <div class="row space-between-mini-top">
          <div class="col-md-4"><strong>現在の役職:</strong></div>
          <div class="col-md-8"><%= @membership.role_i18n %></div>
        </div>
    
        <%#-- 管理者メモ: 情報カラム全体を使う --%>
        <div class="row space-between-mini-top">
          <div class="col-12">
            <p><strong>管理者メモ:</strong></p>
            <p><%= @membership.note.presence || "なし" %></p>
          </div>
        </div>
      </div>
    </div>
    

      <hr class="row space-between-mini">

      <%# グループ管理者のみ表示 #%>
      <% if group_moderator? %>
        <div class="row align-items-center">
          <div class="col-2">
            <%= link_to "メモを編集", edit_note_group_member_path(@group, @membership), 
              class: "btn btn-sm btn-secondary" %>
          </div>

          <%# 自身の権限は表示せず、代わりに脱退リンクを表示、オーナーであれば脱退できない旨のメッセージを表示 #%>
          <% if current_user != @membership.user %>
            <div class="col-4 offset-1 d-flex justify-content-center">
              <%= form_with url: update_role_group_member_path(@group, @membership), 
                method: :patch, scope: :group_membership, local: true do |f| %>
                <div class="form-inline">
                  <% roles = GroupMembership.roles.keys %>
                  <% roles -= ["owner"] unless group_owner? %>
                  <%= f.select :role, roles.map { 
                    |r| [I18n.t("activerecord.attributes.group_membership.role.#{r}"), r] }, 
                      class: "form-control form-control-sm mr-2" %>
                  <%= f.submit "権限を編集", class: "btn btn-sm btn-primary ml-3" %>
                </div>
              <% end %>
            </div>

            <div class="col-3 offset-1 d-flex justify-content-center">
              <%= link_to "メンバーを追放", group_member_path(@group, @membership),
                method: :delete, data: { confirm: "本当にこのメンバーを追放しますか？" },
                  class: "btn btn-sm btn-danger" %>
            </div>

          <% elsif !group_owner? %>
            <div class="col-8 offset-1 d-flex justify-content-center">
              <%= link_to "グループから脱退する", leave_group_membership_path(@group), method: :delete,
                data: { confirm: "本当にグループを脱退しますか？" }, class: "btn btn-sm btn-warning" %>
            </div>
          <% elsif %>
            <div class="col-8 offset-1 d-flex justify-content-center">
              <p class="text-danger mb-0">オーナーはグループを脱退できません。権限譲渡をお願いします。</p>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="row align-items-center mt-4">
        <div class="col-3">
          <%= link_to "プロフィールを表示", show_user_path(@membership.user), 
            class: "btn btn-sm btn-secondary" %>
        </div>

        <%# グループ管理者ではグループメンバーにのみ脱退リンクを表示 #%>
        <% if !group_moderator? && @membership.user == current_user %>
          <div class="col-3 offset-1 d-flex justify-content-center">
            <%= link_to "グループから脱退する", leave_group_membership_path(@group), method: :delete,
              data: { confirm: "本当にグループを脱退しますか？" }, class: "btn btn-sm btn-warning" %>
          </div>
        <% end %>
      </div>
  
      <div class="row justify-content-start mt-4">
        <div class="col-3">
          <%= link_to "メンバー一覧に戻る", group_members_path(@group), 
            class: "btn btn-sm btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>