<div class="dashboard-group__board dashboard-group__events">
  <h4 class="dashboard-group__board-title">イベントボード</h4>
  <% if @group_events.any? %>
    <ul class="dashboard-group__event-list list-unstyled">
      <% @group_events.first(3).each do |event| %>
        <li class="dashboard-group__event-item mb-3 border rounded p-3">
          <%= link_to group_event_path(@group, event), 
            class: "text-dark d-block", style: "text-decoration: none;" do %>
            <div class="row">
              <div class="col-9 font-weight-bold">
                <%= event.title %>
              </div>

              <div class="col-4 text-center">
                <span class="font-weight-bold">開始予定日時</span><br>
                <span><%= l(event.start_time, format: :short) %></span>
              </div>

              <div class="col-1 d-flex align-items-center justify-content-center">
                <span style="font-size: 1.5rem;">～</span>
              </div>

              <div class="col-4 text-center">
                <span class="font-weight-bold">終了予定日時</span><br>
                <span><%= l(event.end_time, format: :short) %></span>
              </div>

              <div class="col-3 text-right text-muted align-self-center">
                <small><%= event.member.user.nickname %></small><br>
                <small>投稿日: <%= l(event.created_at, format: :short) %></small>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="dashboard-event__empty-message">イベントはまだありません</p>
  <% end %>
</div>

<div class="dashboard-group__link-right">
  <%= link_to "▶︎ イベント一覧", group_events_path(@group), class: "dashboard-group__more-link" %>
</div>
