<div class="dashboard-group__board dashboard-group__notices">
  <h2 class="dashboard-group__board-title">お知らせボード</h2>
  <% if @group_notices.any? %>
    <ul class="dashboard-group__notice-list list-unstyled">
      <% @group_notices.first(3).each do |notice| %>
        <li class="dashboard-group__notice-item mb-3 border rounded p-3">
          <%= link_to group_notice_path(@group, notice), 
            class: "text-dark d-block", style: "text-decoration: none;" do %>
            <div class="row">
              <div class="col-9 font-weight-bold">
                <%= notice.title %>
              </div>
              <div class="col-3 text-right text-muted">
                <small class="dashboard__notice-body"><%= notice.member.user.nickname %></small>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-9">
                <%= truncate(notice.body, length: 50) %>
              </div>
              <div class="col-3 text-right text-muted">
                <small>投稿日: <%= l(notice.created_at, format: :short) %></small>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="empty-message">お知らせはまだありません</p>
  <% end %>

  <div class="dashboard-group__link-right">
    <%= link_to "▶︎ お知らせ一覧", group_notices_path(@group), class: "dashboard-group__more-link" %>
  </div>
</div>