<div class="row group-dashboard__overview">
  <!-- 左側：グループ画像 -->
  <div class="col-md-4 d-flex align-items-center justify-content-center mb-2 mb-md-0">
    <%= image_tag @group.group_image, class: "group-dashboard__overview-group-image" %>
  </div>

  <!-- 右側：説明とメンバー一覧を上下に分割 -->
  <div class="col-md-8 group-dashboard__overview-content">
    <!-- 説明 -->
    <div>
      <h2 class="group-dashboard__overview-section-title">グループ説明</h2>
        
      <%= simple_format(@group.description, 
        { class: "group-dashboard__overview-description" }, sanitize: true) %>
    </div>

    <% if group_moderator? %>
      <div class="text-right">
        <%= link_to "グループを編集", edit_group_path(@group), 
          class: "btn btn-outline-primary btn-sm group-dashboard__overview-edit-button" %>
      </div>
    <% end %>

    <!-- メンバー一覧 -->
    <div class="flex-fill position-relative">
      <h2 class="group-dashboard__overview-section-title">管理者一覧</h2>
      <h3 class="group-dashboard__overview-section-subtitle mt-0">グループオーナー</h3>
      <ul class="group-dashboard__overview-list">
        <li class="group-dashboard__overview-list-member-nickname"><%= @group.owner.nickname %></li>
      </ul>

      <% if @group.moderators.any? %>
        <h3 class="group-dashboard__overview-section-subtitle">グループ管理者</h3>
        <ul class="group-dashboard__overview-list">
          <% @group.moderators.each do |moderator| %>
            <li class="group-dashboard__overview-list-member-nickname"><%= moderator.nickname %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <!-- メンバー一覧リンク -->
    <div class="text-right">
      <%= link_to "▶︎ メンバー一覧", group_members_path(@group), 
        class: "group-dashboard__more-link" %>
    </div>
  </div>
</div>
