リンクテスト
<div style="display: flex; gap: 20px;">
  <!-- 左カラム（縦並び） -->
  <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
    <%= render "shared/link/public/links", home: true %>
    <%= render "shared/link/public/links", profile_page: true %>
    <%= render "shared/link/public/links", show_edit: true %>
    <%= render "shared/link/public/links", mypage: true %>
    <%= render "shared/link/public/links", check_poster_profile: true %>
    <%= render "shared/link/public/links", settings: true %>

    <!-- deviseで使用するもの -->
    <div class="ml-5 mb-2"  style="display: flex; flex-direction: column; gap: 10px;">
      <%= render 'public/shared/auth/auth_links', private: true %>
      <%= render 'public/shared/auth/auth_links', password: true %>
    </div>

    <%= render "shared/link/public/links", withdraw: true %>
    <%= render "shared/link/public/links", profile: true %>
    <%= render "shared/link/public/links", my_posts_index: true %>
    <%= render "shared/link/public/links", all_posts_index: true %>
    <%= render "shared/link/public/links", new_post: true %>
    <%= render "shared/link/public/links", back: true %>
  </div>

  <!-- 右カラム（縦並び・as: :button追加） -->
  <div style="flex: 1; display: flex; flex-direction: column; gap: 10px;">
    <%= render "shared/link/public/links", home: true, as: :button %>
    <%= render "shared/link/public/links", profile_page: true, as: :button %>
    <%= render "shared/link/public/links", profile_edit: true, as: :button %>
    <%= render "shared/link/public/links", check_poster_profile: true, as: :button %>
    <%= render "shared/link/public/links", mypage: true, as: :button %>
    <%= render "shared/link/public/links", settings: true, as: :button %>

    <!-- deviseで使用するもの -->
    <div class="ml-5 mb-2"  style="display: flex; flex-direction: column; gap: 10px;">
    <%= render "public/shared/auth/auth_links", private: true, as: :button %>
    <%= render "public/shared/auth/auth_links", password: true, as: :button %>
    </div>

    <%= render "shared/link/public/links", withdraw: true, as: :button %>
    <%= render "shared/link/public/links", my_posts_index: true, as: :button %>
    <%= render "shared/link/public/links", all_posts_index: true, as: :button %>
    <%= render "shared/link/public/links", new_post: true, as: :button %>
    <%= render "shared/link/public/links", back: true, as: :button %>
  </div>
</div>
