<h2 class="text-center mt-3 mb-5">グループ投稿一覧 (<%= @group.name %>)</h2>

<%= render "admin/shared/filter_controls", url_helper: method(:admin_group_posts_path) %>

<% if @group_posts.any? %>
  <table class="table table-hover table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th style="width: 10%;">投稿ID</th>
        <th style="width: 25%;">タイトル</th>
        <th style="width: 15%;">投稿日</th>
        <th style="width: 20%;">投稿者</th>
        <th style="width: 10%;">公開</th>
        <th style="width: 12%;">外部公開</th>
        <th style="width: 8%;">詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @group_posts.each do |post| %>
        <tr class="text-center <%= row_class(post) %>">
          <td><%= post.id %></td>
          <td><%= link_to post.title, admin_group_post_path(@group.id, post) %></td>
          <td><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td><%= link_to post.member.user.nickname, admin_user_path(post.member.user) %></td>
          <td><%= status_label(post) %></td>
          <td><%= non_member_visibility_label(post) %></td>
          <td><%= link_to '詳細', admin_group_post_path(@group.id, post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @group_posts %>
  </div>
<% else %>
  <div class="text-center my-5">
    <p class="h5">まだグループ投稿はありません。</p>
  </div>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to "グループ詳細に戻る", admin_group_path(@group.id), class: "btn btn-secondary" %>
</div>