<h1>グループ投稿一覧 (<%= @group.name %>)</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>投稿者</th>
      <th>公開</th>
      <th>固定表示</th>
      <th>投稿日</th>
    </tr>
  </thead>
  <tbody>
    <% @group_posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, admin_group_post_path(@group.id, post) %></td>
        <td><%= link_to post.member.user.nickname, admin_user_path(post.member.user) %></td>
        <td><%= post.is_public ? "公開" : "非公開" %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to "削除", admin_group_post_path(@group, post), method: :delete, data: { confirm: "削除してよろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "グループ詳細に戻る", admin_group_path(@group.id), class: "btn btn-secondary" %>