<h2 class="mb-4 text-center">投稿詳細</h2>

<div class="row mb-4">
  <% user = @group_post.member.user %>

  <!-- 投稿画像 -->
  <div class="col-md-7 d-flex justify-content-center align-items-end ml-5 pl-5">
    <%= image_tag url_for(@group_post.group_post_image), class: "img-fluid", 
      alt: "投稿画像", style: "max-height: 400px;" %>
  </div>

  <!-- 投稿者情報 -->
  <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
    <p><strong>投稿ユーザー</strong></p>
    <%= image_tag url_for(user.profile_image), width: 200, height: 200, class: "img-fluid mb-2" %>
    <p><strong><%= user.nickname %></strong></p>
    <%= link_to "ユーザー詳細", admin_user_path(user), class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>

<table class="table table-striped custom-bordered">
  <tr>
    <th style="width: 30%;">ID</th>
    <td><%= @group_post.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @group_post.title %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@group_post.body) %></td>
  </tr>
  <tr>
    <th>ニックネーム</th>
    <td><%= link_to user.nickname, admin_user_path(user) %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= status_label(@group_post) %></td>
  </tr>
  <tr>
    <th>公開範囲</th>
    <td><%= non_member_visibility_label(@group_post) %></td>
  </tr>
 <tr>
  <th>親の復元時に非公開</th>
  <td><%= hidden_on_parent_restore_label(@group_post) %></td>
  </tr>
  <tr>
    <th>削除の理由</th>
    <td><%= enum_i18n(@group_post.deleted_reason, :deleted_reason) || '-' %></td>
  </tr>
  <tr>
  <th>削除の操作者ID</th>
    <td><%= @group_post.deleted_by_id || '-' %></td>
  </tr>
  <tr>
    <th>削除日時</th>
    <td><%= @group_post.deleted_at&.strftime('%Y-%m-%d %H:%M') || '-' %></td>
  </tr>
  <tr>
    <th>最終コメント日時</th>
    <td><%= @group_post.last_commented_at&.strftime('%Y-%m-%d %H:%M') || '-' %></td>
  </tr>
  <tr>
    <th>作成日時</th>
    <td><%= @group_post.created_at.strftime('%Y-%m-%d %H:%M') %></td>
  </tr>
</table>

<%= render partial: "admin/shared/admin_resource_controls", locals: {
  resource: @group_post,
  index_path: admin_group_posts_path(@group.id),
  toggle_path: (!@group_post.is_public || @group_post.hidden_on_parent_restore) ?
    publish_admin_group_post_path(@group.id, @group_post) :
      hide_admin_group_post_path(@group.id, @group_post),
  restore_path: reactivate_admin_group_post_path(@group.id, @group_post),
  delete_path: admin_group_post_path(@group.id, @group_post)
} %>