<h4 id="groups-results">
  <span class="search-group__result-title">グループの検索結果</span>
</h4>
<% if groups.any? %>
  <p class="search-group__result-count">
    <%= @search_type %>内でのヒット数<%= number_of_items_displayed(groups) %>
  </p>

  <div class="container">
    <div class="row">
      <% groups.each do |group| %> 
        <div class="col-6 d-flex justify-content-center">
          <%= link_to group_path(group.slug), class: "search-group__link" do %>
            <div class="search-group__card">
              <!-- 左側：プロフィール画像 -->
              <div class="search-group__image-box">
                <%= image_tag(group.group_image, size: "150x125", class: "search-group__image") %>
              </div>

              <!-- 右側：プロフィール情報 -->
              <div class="search-group__info-box">
                <p class="search-group__label">【グループ名】</p>
                <p class="search-group__name"><%= group.name %></p>
                <p class="search-group__label">【説明】</p>
                <p class="search-group__bio"><%= group.description %></p>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate groups, param_name: :group_page, 
        params: request.query_parameters.merge(scroll_to: "groups-results") %>
    </div>
  </div>

<% else %>
  <p class="text-center">検索結果は見つかりませんでした。</p>
<% end %>
