<h1>申し送りを編集</h1>

<%= form_with model: [:admin, @admin_note], local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body, rows: 6 %>
  </div>

  <%= f.submit "更新する" %>
<% end %>