<h2>新しい申し送り</h2>

<%= form_with model: [:admin, @admin_note], local: true do |f| %>
  <% if @admin_note.errors.any? %>
    <div class="error-messages">
      <h4>エラーがあります:</h4>
      <ul>
        <% @admin_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "作成" %>
<% end %>
