<h2 class="mb-4 text-center">コメント詳細</h2>

<div class="row mb-4">
  <!-- ユーザー画像と情報 -->
  <div class="col-md-3 d-flex flex-column justify-content-center align-items-center mt-4">
    <% if @user_post_comment.user.profile_image.attached? %>
      <%= image_tag url_for(@user_post_comment.user.profile_image), width: 200, height: 200,
          class: "img-fluid mb-2" %>
    <% end %>
    <p><strong><%= @user_post_comment.user.nickname %></strong></p>
    <%= link_to "ユーザー詳細", admin_user_path(@user_post_comment.user), class: "btn btn-outline-primary btn-sm" %>
  </div>

  <!-- コメント詳細テーブル -->
  <div class="col-md-9">
    <table class="table table-striped custom-bordered">
      <tr>
        <th style="width: 30%;">コメントID</th>
        <td><%= @user_post_comment.id %></td>
      </tr>
      <tr>
        <th>投稿ID</th>
        <td>
          <%= link_to @user_post_comment.user_post_id, admin_user_post_path(@user_post_comment.user_post) %>
        </td>
      </tr>
      <tr>
        <th>コメント内容</th>
        <td class="no-p-margin"><%= simple_format(@user_post_comment.body) %></td>
      </tr>
      <tr>
        <th>ユーザー</th>
        <td>
          <%= link_to "#{@user_post_comment.user.nickname} (ID: #{@user_post_comment.user_id})",
              admin_user_path(@user_post_comment.user) %>
        </td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td>
          <%= status_label(@user_post_comment) %>
        </td>
      </tr>
      <tr>
        <th>親コメントID</th>
        <td><%= @user_post_comment.parent_comment_id || '-' %></td>
      </tr>
      <tr>
        <th>削除日時</th>
        <td><%= @user_post_comment.deleted_at&.strftime('%Y-%m-%d %H:%M') || '-' %></td>
      </tr>
      <tr>
        <th>最終返信日時</th>
        <td><%= @user_post_comment.replied_at&.strftime('%Y-%m-%d %H:%M') || '-' %></td>
      </tr>
      <tr>
        <th>作成日時</th>
        <td><%= @user_post_comment.created_at.strftime('%Y-%m-%d %H:%M') %></td>
      </tr>
    </table>
  </div>
</div>

<%= render partial: "admin/shared/admin_resource_controls", locals: {
  resource: @user_post_comment,
  index_path: admin_user_post_comments_path,
  toggle_path: @user_post_comment.is_public ? hide_admin_user_post_comment_path(@user_post_comment) : publish_admin_user_post_comment_path(@user_post_comment),
  restore_path: reactivate_admin_user_post_comment_path(@user_post_comment),
  delete_path: admin_user_post_comment_path(@user_post_comment)
} %>