<h2 class="text-center mt-3 mb-5">グループ一覧</h2>

<%= render "admin/shared/filter_controls", url_helper: method(:admin_groups_path) %>

<% if @groups.any? %>
  <table class="table table-hover table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th style="width: 10%;">グループID</th>
        <th style="width: 30%;">名前</th>
        <th style="width: 15%;">公開状態</th>
        <th style="width: 15%;">アクティブ人数</th>
        <th style="width: 15%;">アクティブ投稿数</th>
        <th style="width: 15%;">作成日時</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.id %></td>
          <td><%= link_to group.name, admin_group_path(group.id) %></td>
          <td><%= status_label(group) %></td>
          <td><%= group.active_members.size %></td>
          <td><%= group.group_posts.undeleted_only.unhidden_only.count %></td>
          <td><%= l(group.created_at, format: :short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @groups %>
  </div>
<% else %>
  <div class="text-center my-5">
    <p class="h5">まだグループはありません。</p>
  </div>
<% end %>