<% if @post.present? && @post.user.present? %>
  <%= form_with model: @post, url: url, method: verd, local: true do |f| %>

    <div class="post-form__title-box">
      <%= f.label :title, "投稿のタイトル" %>
      <%= f.text_field :title, class: "post-form__title-input", placeholder: "タイトルを入力してください" %>
    </div>
  
    <div class="post-form__image-box">
      <%= f.label :post_image, "投稿画像" %>
      <%= f.file_field :post_image, class: "post-form__image-input" %>
    </div>
  
    <div class="post-form__body-box">
      <%= f.label :body, "投稿の内容" %>
      <%= f.text_area :body, class: "post-form__body-input", placeholder: "内容を入力してください" %>
    </div>

    <div class="text-center">
      <%= f.submit submit_label ||= "更新する", class: "btn btn-base update-btn" %>
    </div>
  <% end %>
<% else %>
  <p>投稿が見つかりませんでした。</p>
<% end %>
