<h2>
  <% if @user %>
    <%= @user.nickname %>さんの投稿一覧
  <% else %>
    すべての投稿一覧
  <% end %>
</h2>

<% if @posts.any? %>
<% @posts.each do |post| %>
  <div class="post">
    <%= link_to post.user.nickname, show_user_path(post.user.id) %>
    <%= link_to user_post_path(post.user, post) do %>
      <%= image_tag(post.post_image, size: "100x100") %>
    <% end %>
    <%= link_to post.title, user_post_path(post.user.id, post.id) %>
    <%= truncate(post.body, length: 100) %>
    <%= post.created_at.strftime("%Y-%m-%d") %>
  </div>
<% end %>
<% else %>
  <p>投稿がありません。</p>
<% end %>