<% @group_post_comments.each do |comment| %>
  <div class="comment-item">

    <% if comment.is_deleted %>
      <p class="comment-item__deleted">このコメントは削除されました。</p>

    <% else %>
      <p class="user-comments__body"><%= comment.body %></p>
      <p class="comment-item__user">
        <%= image_tag(comment.user.profile_image, size: "35x35", class: "profile-box__image") %>
        <%= comment.user.nickname %></p>
      <div class="comment-item__deleted">
        <% if comment.user == current_user || @group_post.user == current_user || 
          @group_post.group.owner == current_user  %>
          <%= button_to "削除", group_post_comment_path(@group, @group_post, comment),
            method: :delete, data: { confirm: "本当に削除しますか？" },
              class: "comment-item__delete-btn" %>
        <% end %>
      </div>
    <% end %>

  </div>
  <hr>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @group_post_comments %>
</div>