<h5 class="mb-0">ナビゲーション</h5>
<ul class="nav flex-column">
  <li><%= render 'admin/shared/links', check_dashboard_link: true %></li>

  <li><%= render 'admin/shared/links', check_back_link: true %></li>
</ul>

<h5 class="mt-3 mb-0">申し送り</h5>
<ul class="nav flex-column">
  <li><%= render 'admin/shared/links', check_notes_link: true %></li>
</ul>

<h5 class="mt-3 mb-0">TOP</h5>
<ul class="nav flex-column">
  <li><%= render 'admin/shared/links', check_informations_link: true %></li>
</ul>

<h5 class="mt-3 mb-0">ユーザー</h5>
<ul class="nav flex-column">
  <li><%= render 'admin/shared/links', check_users_link: true %></li>

  <li><%= render 'admin/shared/links', check_user_posts_link: true %></li>
  
  <li><%= render 'admin/shared/links', check_user_post_comments_link: true %></li>
</ul>

<h5 class="mt-3 mb-0"">グループ</h5>
<ul class="nav flex-column">
  <li><%= render 'admin/shared/links', check_groups_link: true %></li>

  <% if @group&.id %>
    <li class="ml-3">
      <h6 class="mt-1 mb-0" style="font-size: 1.05rem;">グループ内</h6>
      <ul class="list-unstyled">
        <li><%= render 'admin/shared/links', check_group_details_link: true %></li>

        <li><%= render 'admin/shared/links', check_group_members_link: true %></li>

        <li><%= render 'admin/shared/links', check_group_notices_link: true %></li>

        <li><%= render 'admin/shared/links', check_group_events_link: true %></li>

        <li><%= render 'admin/shared/links', check_group_posts_link: true %></li>

        <li><%= render 'admin/shared/links', check_group_comments_link: true %></li>
      </ul>
    </li>
  <% end %>
</ul>