<h2 class="mb-3 text-center">ユーザー投稿一覧</h2>

<%= render "admin/shared/filter_controls", url_helper: method(:admin_user_posts_path) %>

<% if @user_posts.empty? %>
  <p class="text-center text-muted">投稿はありません。</p>
<% else %>
  <!-- 投稿一覧 -->
  <table class="table table-hover table-bordered">
    <thead class="text-center thead-light">
      <tr>
        <th style="width: 10%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">ID</th>
        <th style="width: 35%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">タイトル</th>
        <th style="width: 15%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">ニックネーム</th>
        <th style="width: 10%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">ステータス</th>
        <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">投稿日時</th>
        <th style="width: 10%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @user_posts.each do |post| %>
        <tr class="text-center <%= row_class(post) %>">
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td><%= post.user.nickname %></td>
          <td><%= status_label(post) %></td>
          <td><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></td>
          <td><%= link_to '詳細', admin_user_post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @user_posts %>
  </div>
<% end %>