<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioEcfGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- レスポンシブデザイン用、
      ページとデバイスの画面幅を合わせ、スケールを1に設定、ユーザーがズームインできなくする -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- WebpackerによるJavaScriptとCSSをバンドルして読み込む -->
    <script src="https://kit.fontawesome.com/ecc368403e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    /* テスト用 */


    
  </style>
  </head>

  <!-- bodyを動的にし、bodyが短くなり見栄えが悪くならないように高さを取る -->
  <body class="d-flex flex-column <%= controller.controller_name %> <%= controller.action_name %> vh-100">
  
    <!-- ヘッダー -->
    <%= render 'public/shared/header/header' %>
    <div class="container">
      <div class="row">

        <!-- 左サイドバー -->
        <div class="sidebar sidebar-left">
          <%= render 'public/shared/sidebar/left_sidebar' %>
        </div>

        <!-- メインコンテンツ -->
        <main class="main-content">

          <!-- メッセージ -->
          <div class="message-box"><%= render 'shared/message/messages' %></div>
          <%= yield %>
        </main>

        <!-- 右サイドバー -->
        <div class="sidebar sidebar-right">
          <%= render 'public/shared/sidebar/right_sidebar' %>
        </div>
      
      </div>
    </div>
  </body>
</html>